services:
  ui:
    build: ./ui-service
    ports:
      - "7860:7860"
    depends_on:
      - orchestrator

  orchestrator:
    build: ./orchestrator-api
    ports:
      - "8000:8000"
    depends_on:
      - stt
      - llm
      - validator
      - tts

  stt:
    build: ./stt-service
    ports:
      - "8003:8003"

  llm:
    build: ./llm-service
    ports:
      - "8002:8002"

  validator:
    build: ./robot-validator-api
    ports:
      - "8001:8001"

  tts:
    build: ./tts-service
    ports:
      - "8004:8004"
